/* Styles transformés en CSS standard */

.titre {
  color: white;
}

/* Styles pour les icônes à l'intérieur du composant hôte */
:host .mat-icon {
  vertical-align: middle;
  margin-right: 1rem;
}

.logo {
  text-align: center;
  padding: 2.6rem 1rem;
}

/* Styles pour la barre de séparation */
.mat-divider {
  border-top-width: 2px;
  border-color: white;
}

/* Styles pour les éléments de liste */
.mat-list-item {
  color: #94a3b8 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  padding-left: 20px;
  background-color: red !important;
}

.mat-list-item:hover {
  color: #f2f5f7 !important;
}

/* Styles pour les éléments de liste lorsqu'ils sont actifs */
.list-item-active .mat-list-item-content {
  background: white !important;
}

.list-item-active .mat-list-item-content:hover {
  background: white !important;
}

/* Styles pour les sous-headers */
.mat-subheader {
  color: #818cf8;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}
