<mat-nav-list>
  <div class="logo py-4">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home" class="white-text">
    <mat-icon style="background-color: darkred">home</mat-icon> <span class="titre">Accueil</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" class="white-text">
    <mat-icon style="color:white">dashboard</mat-icon> <span class="titre">Tableau de bord</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/appointement" class="white-text">
    <mat-icon style="color:white;">add</mat-icon> <span class="titre">Ajouter un RDV</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/appointementList" class="white-text">
    <mat-icon style="color:white;">list</mat-icon> <span class="titre">listes de RDV</span>
  </a>

</mat-nav-list>
