<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<body style="background-color: #666666;">

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
					<span class="login100-form-title p-b-43 move-up">
						INSCRIPTION
					</span>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" [(ngModel)]="nom" name="nom">
          <span class="focus-input100"></span>
          <span class="label-input100">Nom</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" [(ngModel)]="prenom" name="prenom">
          <span class="focus-input100"></span>
          <span class="label-input100">prénom</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" [(ngModel)]="email" name="email">
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
        </div>

<!--        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">-->
<!--          <select class="input100" name="role">-->
<!--            <option value="" disabled selected hidden>Choississez votre rôle</option>-->
<!--            <option value="admin" selected>Commercial</option>-->
<!--            <option value="user">Administratif</option>-->
<!--          </select>-->
<!--          <span class="focus-input100"></span>-->
<!--          <span class="label-input100">Role</span>-->
<!--        </div>-->


        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" [(ngModel)]="password" name="pass">
          <span class="focus-input100"></span>
          <span class="label-input100">Mot de passe</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" [(ngModel)]="confirmePass" name="pass">
          <span class="focus-input100"></span>
          <span class="label-input100">Confimer le passe</span>
        </div>


        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="registerUser()">
            Se connecter
          </button>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/bg-01.jpg');">
      </div>
    </div>
  </div>
</div>



</body>

