@import "../home/home.component.scss";
.background-image {
  background-image: url('/assets/images/8351257_3886130.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  border-radius: 15px 15px 0 0;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
